:root {
  --white: #F3F6F7;
  --black: #000000;
  --placeholder: #6C757D;
  --purple: #9353FF;
  --font: 'Inter', sans-serif;
  --border: rgba(0, 0, 0, 0.13);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

